MarkupSafe==1.1.1
Sphinx==7.4.7
ablog==0.10.29
ipython-genutils==0.2.0
ipython==7.26.0
nbconvert
nbformat
nbsphinx==0.8.9
pydata-sphinx-theme==0.8.1
readthedocs-sphinx-search==0.1.1
sphinx-book-theme==0.3.3
sphinx-panels==0.6.0
sphinx-rtd-theme==0.5.2
sphinx-tabs==3.2.0
sphinx_design==0.3.0
sphinx-copybutton==0.5.2
sphinxcontrib-ansi
sphinxcontrib-applehelp
sphinxcontrib-contentui==0.2.5
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-programoutput==0.17
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
